<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.jandavid.alfred.gitignore</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Jan David Nose</string>
	<key>description</key>
	<string>Build a .gitignore file with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gitignore</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>gitignore</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching templates from gitignore.io...</string>
				<key>script</key>
				<string>python gitignore.py</string>
				<key>subtext</key>
				<string>Combine multiple templates to a single .gitignore file</string>
				<key>title</key>
				<string>Build a .gitignore file from templates</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>487A8098-1037-4523-BCA6-B04539B70A80</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>487A8098-1037-4523-BCA6-B04539B70A80</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jandavid.de</string>
</dict>
</plist>
