---
name: Preview

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    name: Test
    strategy:
      matrix:
        rust:
          - beta
          - nightly
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4

      - name: Set up Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose
